.category{
  margin-top:2%;
  display:flex;
  width:100%;
  justify-content:center;
  flex-wrap:wrap;
}

.category select{
  text-align:center;
  margin-left:1%;
  margin-top:2%;
  padding:3px;
}